body {
    font-family: sans-serif;
}
header {
    background-color:rgb(0, 42, 139) ;
    color:white;
}
header a {
    color: grey;
}
h1 {
    font-size: 30px;
    background-color: darkblue;
    color: white;
    text-align:center;
}
footer {
background-color: #0059ffad;
color: grey;
padding:2px;
border-radius: 19px;
}
footer p {
    background-color:white;
    color:black;
    border: 8px solid #0059ffad ;
    padding:3px;
    text-align:center;
    }
.d {
    border: 3px solid darkblue;
    border-radius: 19px;
    padding: 7px;
    text-decoration: none;
    color: black;
    }
    nav a {
        border:2px solid darkblue;
        color:white;
        text-decoration: none;
        padding: 6px;
        border-radius: 15px;
        background-color: darkblue;

    }
    nav {
        margin: 20px;
        text-align:center;
    }
    .ah {
        border:2px solid darkblue;
        color:darkblue;
        text-decoration: none;
        padding: 6px;
        border-radius: 15px;
        background-color: white;
    }
    .aimg {
border:3px solid grey;
    }
    .iimg {
        background-color: rgb(223, 220, 245);
        margin: 8px;
        padding: 2px;
    }
    main h2 {
        font-size: 30px;
    background-color: darkblue;
    color: white;
    text-align:center;
    }
