body {
    font-family: sans-serif;
}

header{
    background-color: lightseagreen;
    text-align: center;
    padding: 10px;
}
header b{
    text-shadow: 1px 1px 1px blue; 
}

header a{
    background-color: lightskyblue;
    color:  lavenderblush;
    padding: 5px;
    border: 3px double blue;
    border-radius: 10px;
    text-decoration: none; 
}

h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    border-radius: 20px;
    font-size: 40px;
    background-color: aqua;
}

footer p{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

footer{
    background-color: azure;
}

nav{
    background-color: rgb(68, 181, 185);
    text-align: center;
}

nav a{
    color: white;
}

.boom{
    background-color: rgb(0, 183, 255);
    border-radius: 20px;
}

h2{
    color: blueviolet;
}
