body {
    font-family: sans-serif;
}

header{
    background-color: purple;
    text-align: center;
    padding: 10px;
}
header a{
    background-color: purple;
    color:  lavenderblush;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
    margin: 50px;   
}

header b {
    color: white;
}

main i {
    color: purple;
    font-size: 39px;
}

footer{
    background-color: blueviolet;
    padding: 10px 10px;
}

footer p {
    background-color: skyblue;
    padding: 10px 10px;
    margin: 10px 10px;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 10px;
    text-decoration: none;
}

nav a {
     background-color: lightgray;
     font-size: 15px;
     color: white;
     text-decoration: none;
     border-radius: 15px;
     padding: 5px;
}

.products {
    background-color: white;
    border: 3px solid purple;
    border-radius: 10px;
    padding: 10px 10px;
}

h2 {
    color: blueviolet;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
